[Unit]
Description=Attente audio + enceinte Bluetooth + TTS Piper avant Kodi
# On attend explicitement le service TTS Piper existant.
After=piper-tts.service sound.target bluetooth.target network-online.target
Wants=piper-tts.service bluetooth.target
Before=kodi.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/default/kodi-service
ExecStart=/usr/local/bin/wait-for-bluetooth-audio.sh
ExecStart=/usr/local/bin/wait-for-piper-tts.sh
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target
